.evidence-file > input {
  border: none !important;
}

.admin-notes {
  margin-bottom: 10px !important;
}

.notes-view > p, .notes-view > ul > li {
  font-size: large !important;
}

.notes-view {
  border: 1px;
}

.tabular.menu > a.item {
  color: yellow !important;
  font-family: 'Komika Title';
  font-weight: 550 !important;
}

.tabular.menu > a.item.active {
  color: black !important;
}