.react-date-picker__wrapper {
  padding-left: 5px;
  font-size: x-large;
}

.react-date-picker__inputGroup__input {
  min-width: 0.54em !important;
  height: 100% !important;
  position: relative !important;
  padding: 0 1px !important;
  border: 0 !important;
  background: none !important;
  font: inherit !important;
  box-sizing: content-box !important;
  -moz-appearance: textfield !important;
}

.react-calendar__month-view__days__day--weekend {
  color: black !important;
}
.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575 !important;
}

.react-date-picker__wrapper {
  background: #e0e1e2 !important;
  border-radius: .28571429rem;
}

label > small.date-format {
  font-size: medium !important;
}

small.required-text {
  color: yellow;
  font-size: small;
}

.judgement-type.active {
  background-color: green !important;
}

.status-label {
  cursor: pointer;
}

.JudgementView.modal > .ui {
  color: black !important;
}

.judgement-view {
  background-color: #acacac;
  border-radius: 2%;
  margin: auto;
  padding: 1%;
  min-height: auto;
}