.ModModal, .EvidenceModal {
  display: inline-block;
  width: 33.333333333%;
}

.mod-buttons {
  width: 100%
}

.mod-button {
  width: 30%;
  margin: 0 10% !important;
}

.admin-buttons > .ModModal > .bottom-bar-button,  .admin-buttons > .EvidenceModal > .bottom-bar-button {
  width: 100%;
}