.Appeal {
  width: 68%;
  margin: auto;
  min-height: auto;
}

.view-form {
  background-color: #565656;
  border-radius: 2%;
  padding: 1%;
}

.grid-form-arrow-right, .grid-form-arrow-left {
  color: yellow;
  width: 100% !important;
  cursor: pointer;
}

.ui.label.view {
  width: 100%;
  font-size: large;
  color: black;
  font-weight: inherit;
  margin-left: 0px;
}

.ban-type.view, .ban-just.view {
  cursor: inherit;
  color: rgba(0,0,0,.8);
}

.ban-type.view:hover, .ban-type.view:active, .ban-type.view:focus,
 .ban-just.view:hover, .ban-just.view:active, .ban-just.view:focus {
  background: #e0e1e2 none !important;
}

.name-view, .name-view>input {
  opacity: 100% !important;
  border-bottom-right-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.unhide-button {
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
}

.unhide-icon, .bottom-icons {
  margin: 0px !important;
}

.status-label {
  float: right;
}

.admin-buttons {
  width: 100%;
}

.admin-or {
  height: inherit !important;
}

.hidden-text {
  top: 30% !important;
}

.bottom-bar {
  width: 33.333333333%;
  display: inline-block;
  vertical-align: middle;
}

.ui.modal > div {
  background: #707070 !important;
}

.ui.modal > .header {
  color: yellow !important;
}